@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui" {
	themes: light --default, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid,
		lemonade, night, coffee, winter, dim, nord, sunset, caramellatte, abyss, silk;
	root: ":root";
	include: ;
	exclude: ;
	prefix: ;
	logs: true;
}

@layer utilities {
	/* .bg-system-accent {
		background-color: rgb(from -apple-system-control-accent r g b / 80%);
	} */
}

* {
	box-sizing: border-box;
}

:root {
	/* safe top */
	--safe-area-top: 52px;
	--navbar-height: 52px;
	/* sidebar  */
	--sidebar-width: var(--sidebar-width-value);
	--sidebar-opacity: 1;
	--sidebar-icon-backdrop-blur: 0px;
	--sidebar-width-value: 215px;
	--profile-gap-height: 15px;
	/* apple */
	/* 如果不存在 则使用daisy的主题色 */
	--apple-system-accent-bg: rgb(from -apple-system-control-accent r g b / 80%);
	--apple-system-accent-bg: rgb(from var(--color-primary) r g b / 80%);
	--apple-system-accent: -apple-system-control-accent;
	--apple-system-accent: var(--color-primary);
}
