@import "tailwindcss";

@plugin "daisyui" {
	themes: light --default, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid,
		lemonade, night, coffee, winter, dim, nord, sunset, caramellatte, abyss, silk;
	root: ":root";
	include: ;
	exclude: ;
	prefix: ;
	logs: true;
}

@layer utilities {
	.bg-system-accent {
		background-color: rgb(from -apple-system-control-accent r g b / 80%);
	}
}

* {
	box-sizing: border-box;
}

:root {
	--safe-area-top: 52px;
	--navbar-height: 52px;
	/* apple */
	--apple-system-accent-bg: rgb(from -apple-system-control-accent r g b / 80%);
	--apple-system-accent: -apple-system-control-accent;
	--apple-system-accent: #007aff;

	/* sidebar  */
	--sidebar-width: 215px;
	--profile-gap-height: 15px;
}
